@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

h1 {
  font-size: 36px;


  padding: 1rem;
  font-family: 'Jaldi', sans-serif; 
  text-align: left;
}




.navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; 
}